{% extends 'base.html'%}
{% block title %}
<title>About</title>
{% endblock %}
{% block header %}
<div id="breadcrumb_wrapper">
	<div class="container">
		<h3>关于我们</h3>
		<h6>About Us</h6>
		<div class="clearfix"></div>
	</div>
</div>
{% endblock %}
{% block body %}
		<div class="about">
			<div class="container">
				<div class="about-main">
					<h3 class="text-center">About</h3>
					<div class="about-top">
						<div class="col-md-6 about-left">
							<img src="images/abt-1.jpg" alt=""/>				</div>
						<div class="col-md-6 about-right">
							<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
							<p class="m_8">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia. Donec sagittis interdum tellus sed bibendum. Aen ean fringilla ut lacus eu vehicula Curabitur non nibh quis nisi vestibulum aliquet non sed dolor. Ut est risus, consectetur sit amet pretium in, cursus in dui. Donec ac rhoncus libero.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="about-quote">
			<div class="col-md-6 abt-quote">
				<h5>Success is a science; if you have the conditions, you get the result.</h5>
				<span>Oscar Wilde</span>
			</div>
        </div>
		<div class="about_grid_top">
			<div class="container">
				<div class="our-head text-center">
					<h3>Our Details</h3>
				</div>
				<div class="box3">
					<div class="col-md-6 detail-pic">
						<img src="images/pic1.jpg" class="img-responsive" alt=""/>
					</div>
					<div class="col-md-6 row_2">
						<p class="m_8">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</p>
						<p class="m_9"><span class="quotes"></span>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.<span class="quotes-down"></span></p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!--services-->
		<div class="services">
			<div class="container">
				<h3>We are no. 1...<span>WHY?</span></h3>
				<div class="col-md-6 services-grids">
					<ul class="srevicesgrid_info">
						<li class="tick">Best hardware around the world</li>
						<li class="tick">10 TB Storage for all our clients</li>
						<li class="tick">Easy powerfull control panel with special tools</li>
					</ul>
				</div>
				<div class="col-md-6 services-grids">
					<ul class="srevicesgrid_info">
						<li class="tick">Best hardware around the world</li>
						<li class="tick">10 TB Storage for all our clients</li>
						<li class="tick">Easy powerfull control panel with special tools</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="services-bottom">
			<p>Our company have more than<span>200.000 customers</span>around the world!</p>
		</div>
		<!--/srvices-->
<!-- #Testimonials -->
		<div id="testimonialWrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-md-offset-1">
						<div id="testimonialPicture"></div>
					</div>
					<div class="col-md-7 col-md-offset-1">
						<h2>What our clients are saying...</h2>
						<h3>“MyVPS is awesome! Reliable, secure hosting, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel pharetra diam. Aenean convallis nibh facilisis risus and clients. 9/12, 5 Stars all around lorem ipsum dolto sit amet!”</h3>
						<a href="#">Lorem ipsum - www.google.com</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- /#Testimonials -->
{% endblock %}