{% extends 'base.html' %}
{% block title %}
<title>首页</title>
{% endblock %}
{% block header%}
<div class="banner-info">
	<h1>AI教学工作间</h1>
	<p>SKYHIGH WORK</p>
</div>
{% endblock %}
{% block body %}
<div class="best">
	<div class="container">
		<article>
			<figure class="float-left"><img src="images/470x240.jpg" alt="Placeholder"></figure>
			<h2><span>Best Web Hosting</span> For You</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only but also the leap into electronic publishing software like Aldus PageMaker five centuries.</p>
		</article>
	</div>
</div>

{% endblock %}