{% extends 'base.html' %}
{% block title %}
<title>首页</title>
{% endblock %}
{% block header%}
<div class="banner-info">
	<h1>We are your best choice</h1>
	<p>Act as host at (an event) or for (a television or radio programme).store (a website or other data) on a server or other computer so that it can be accessed over the Internet.</p>
</div>
{% endblock %}
{% block body %}
<div class="best">
	<div class="container">
		<article>
			<figure class="float-left"><img src="images/470x240.jpg" alt="Placeholder"></figure>
			<h2><span>Best Web Hosting</span> For You</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only but also the leap into electronic publishing software like Aldus PageMaker five centuries.</p>
		</article>
	</div>
</div>

<div class="plans">
		<div class="container">

			<!-- pricing table -->
			<h1 class="heading">Most Popular Plans</h1>

			<div class="col-md-4 one_third pricing">
				<div class="pricing_top">
					<h6>Starter Plan</h6>
					<p><sup>$</sup>8.95</p>
				</div>
				<div class="pricing_middle">
					<ul>
						<li>10GB Disk Space</li>
						<li>100GB Bandwidth</li>
						<li>Free DDoS Protection</li>
						<li>Free Daily Backups</li>
						<li>Managed Hosting</li>
					</ul>
				</div>
				<div class="pricing_bottom">
					<a href="#">Order</a>
				</div>
			</div>

			<div class="col-md-4 one_third pricing">
				<div class="pricing_top">
					<h6>Advanced Plan</h6>
					<p><sup>$</sup>24.95</p>
				</div>
				<div class="pricing_middle">
					<ul>
						<li>10GB Disk Space</li>
						<li>100GB Bandwidth</li>
						<li>Free DDoS Protection</li>
						<li>Free Daily Backups</li>
						<li>Managed Hosting</li>
					</ul>
				</div>
				<div class="pricing_bottom">
					<a href="#">Order</a>
				</div>
			</div>

			<div class="col-md-4 one_third last pricing">
				<div class="pricing_top">
					<h6>Business Plan</h6>
					<p><sup>$</sup>39.95</p>
				</div>
				<div class="pricing_middle">
					<ul>
						<li>10GB Disk Space</li>
						<li>100GB Bandwidth</li>
						<li>Free DDoS Protection</li>
						<li>Free Daily Backups</li>
						<li>Managed Hosting</li>
					</ul>
				</div>
				<div class="pricing_bottom">
					<a href="#">Order</a>
				</div>
			</div>

			<div class="clearfix"></div>
			
		</div>
	</div>
	<div class="fullwidth-section semi-background">
                        <div class="fullwidth-bg">	  
                            <div class="overlay left-aligned">
                            	<div class="dt-sc-one-half column first">
                                	<div class="dt-support">
                                        <h2><span>dedicated</span> to dedicated</h2>
                                        <p>As a dedicated customer, enjoy direct support from specialists who know our most powerful servers best. Call the exclusive support line anytime.</p>
                                        <span>(855) 503-0450</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
<div class="service-section" id="service">
				<div class="container">
					<div class="service-section-head text-center wow fadeInRight" data-wow-delay="0.4s">
						<h3>More Features</h3>
						<p>You will get lot of features with flathost</p>
					</div>
					<div class="service-section-grids">
						<div class="col-md-6 service-grid">
							<div class="service-section-grid wow bounceIn" data-wow-delay="0.4s">
								<div class="icon">
									<i class="s1"></i>
								</div>
								<div class="icon-text">
									<h4>Instant Setup</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="service-section-grid wow bounceIn" data-wow-delay="0.4s">
								<div class="icon">
									<i class="s2"></i>
								</div>
								<div class="icon-text">
									<h4>Constant Backups</h4>
									<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="service-section-grid wow bounceIn" data-wow-delay="0.4s">
								<div class="icon">
									<i class="s3"></i>
								</div>
								<div class="icon-text">
									<h4>GIT/SVN Support</h4>
									<p>Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-6 service-grid">
							<div class="service-section-grid wow bounceIn" data-wow-delay="0.4s">
								<div class="icon">
									<i class="s4"></i>
								</div>
								<div class="icon-text">
									<h4>280+ Install Scripts</h4>
									<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="service-section-grid wow bounceIn" data-wow-delay="0.4s">
								<div class="icon">
									<i class="s5"></i>
								</div>
								<div class="icon-text">
									<h4>cPanel Included</h4>
									<p>There are many variations of passages of Lorem Ipsum available, suffered alteration in some form, by injected humouror randomised words which don't look even slightly believable.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="service-section-grid wow bounceIn" data-wow-delay="0.4s">
								<div class="icon">
									<i class="s6"></i>
								</div>
								<div class="icon-text">
									<h4>Latest PHP & MySQL</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
<!--services-->
<div class="services">
	<div class="container">
		<h3>We are no. 1...<span>WHY?</span></h3>
		<div class="col-md-6 services-grids">
			<ul class="srevicesgrid_info">
				<li class="tick">Best hardware around the world</li>
				<li class="tick">10 TB Storage for all our clients</li>
				<li class="tick">Easy powerfull control panel with special tools</li>
			</ul>
		</div>
		<div class="col-md-6 services-grids">
			<ul class="srevicesgrid_info">
				<li class="tick">Best hardware around the world</li>
				<li class="tick">10 TB Storage for all our clients</li>
				<li class="tick">Easy powerfull control panel with special tools</li>
			</ul>
		</div>
	</div>
</div>
<div class="services-bottom">
	<p>Our company have more than<span>200.000 customers</span>around the world!</p>
</div>
<!--/srvices-->
<!-- #Testimonials -->
		<div id="testimonialWrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-md-offset-1">
						<div id="testimonialPicture"></div>
					</div>
					<div class="col-md-7 col-md-offset-1">
						<h2>What our clients are saying...</h2>
						<h3>“MyVPS is awesome! Reliable, secure hosting, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel pharetra diam. Aenean convallis nibh facilisis risus and clients. 9/12, 5 Stars all around lorem ipsum dolto sit amet!”</h3>
						<a href="#">Lorem ipsum - www.google.com</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- /#Testimonials -->

<script type="text/javascript">
console.log($(document).title);
switch($(document).title){
case '首页':
$("div.banner-top ul li a[href='/']").addClass("active");
break;
case '阅读理解':
$("div.banner-top ul li a[href='/reading']").addClass("active");
break;
default:
break;
}
</script>
{% endblock %}