{% extends 'base.html' %}
{% block title %}
<title>阅读理解</title>
{% endblock %}
{% block header%}
<div id="breadcrumb_wrapper">
	<div class="container">
		<h3>阅读理解</h3>
		<h6>Reading Comprehension</h6>
		<div class="clearfix"></div>
	</div>
</div>
{% endblock %}
{% block body %}
<div class="container">
    <form id="contact_form" action="/MRC" method="POST">
        <div class="form-group">
            <label>文章</label>
            <textarea rows="20" class="form-control" id="passage" name="passage" placeholder="文章如:
Do you love holidays but hate the increase weight that follows? You are not alone.
Holidays are happy days with pleasure and delicious foods. Many people, however, are worried about the weight that comes along with these delicious foods.
With proper planning, though, it is possible to control your weight. The idea is to enjoy the holidays but not to eat too much. You don't have to turn away from the foods that you enjoy. The following suggestions may be of some help to you.
Do not miss meals. Before yon leave home for a feast,have a small, low-fat snack. This may help to keep you from getting too excited before delicious foods. Begin with clear soup and fruit or vegetables. A large glass of water before you eat may help you feel full. Use a small plate; a large plate will encourage you to have more than enough.
Better not have high-fat foods. Dishes that look oily or creamy have much fat in them.
Choose lean meat.Fill your plate with salad and green vegetables.
If you have a sweet tooth, try mints and fruits. They don't have fat content as cream and chocolate.
Don't let exercise take a break during the holidays. A 20-minute walk after a meal can help burn off excess calories."></textarea>
        </div>
        <div class="form-group">
            <label>问题及选项</label>
            <textarea rows="10" class="form-control" id="question" name="question" placeholder="问题和选项如:
66. Holidays are happy days with pleasure but they may ______
A. bring weight problems
B. bring you much trouble in your life
C. make you worried about your foods
D. make you hate delicious foods

67. In order to really enjoy your holidays without putting on weight, you'd better__
A. drink much water and have vegetables only
B. not eat the food in high fat
C. not accept invitations to feasts
D. turn away from delicious foods

68. According to the passage, ___ is a necessary part to stop you from putting on weight.
A. vegetables
B. water
C. calories of energy
D. physical exercise

69. Many people can't help putting on weight after the holidays because they _______ .
A. can't control themselves
B. go to too many feasts
C. enjoy delicious foods
D. can't help turning away from the foods

70. Excess calories can be found in your body in the form of___ .
A. energy
B. fat
C. food
D. something invisible"></textarea>
        </div>
        <p id="note">注:1. 提交后会导出报告; 2. 请按照示例格式输入，否则会失败; 3. 目前在初高中题以及四六级题中准确率约80%</p>
        <button type="submit" id="GetAnswer" class="btn btn-primary">提交</button>
    </form>
</div>
{% endblock %}
